{% extends 'shop/basic.html' %}

{% block title %}About Us{% endblock %}
{% block body %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Mykart!</h1>
      <p>Mykart Pvt Ltd. is an Indian electronic commerce company based in Bhopal, India. Founded by Mayank Sahu in 2020, the company focus on electronics, fashion, and lifestyle products. The service competes primarily with Amazon's Indian subsidiary, Flipkart and the domestic rival Snapdeal. as of March 2020, Mykart held a 39.5% market share of India's e-commerce industry. Mykart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones. Mykart also owns a mobile payments service based on the Unified Payments Interface (UPI). In August 2020, U.S.-based retail chain Walmart acquired a 77% controlling stake in Mykart for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Mayank Sahu</h2>
        <p>Mayank Sahu (born April 8, 1998) is an Indian billionaire technology entrepreneur. He is best known as the founder of Mykart. During his over 11 year career at Mykart, Mayank was CEO and chairman. In 2007, Mayank founded Mykart whose valuation in 2018 was $20.8 billion. In 2018, Mayank held a 5.5 percent stake in Mykart, which he sold to Walmart and his net worth then was a little over $1 billion. In May 2018, Mayank announced that after stepping down as the executive chairman of Mykart, he would be focusing on pending personal projects, gaming and brushing up his coding skills. 

        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}